<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Zomato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="searchText" item-right type="text"></ion-input>
    <ion-button  item-left (click)="onSearch()">Search</ion-button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let cr of results">
      <ion-checkbox [(ngModel)]="cr.isSelected" (ionChange)="subscribe(cr)"></ion-checkbox>
      <div>{{cr.name}}</div>
    </ion-item>
  </ion-list>
</ion-content>