<ion-header>
  <ion-toolbar>
    <ion-title>Restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let res of restaurants">
    <ion-item>
      <ion-header>
          <ion-avatar>
              <img src={{res.thumb}} />
            </ion-avatar>
            <ion-label>
              <p>{{res.name}}</p>
            </ion-label>
      </ion-header>
      <ion-card>
        <ion-list *ngFor="let menu of res.menu">
          <ion-item>
            <h3>{{menu.daily_menu.name}}</h3>        
            <p *ngFor="let dish of menu.daily_menu.dishes">
              {{dish.dish.name}}
            </p>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>