<ion-header>
  <ion-toolbar>
    <ion-title>Restaurants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor="let res of restaurants">
    <ion-list-header class="restaurantItem">
      {{res.name}}
    </ion-list-header>
    <ion-item-group *ngFor="let menu of res.menus">
      <ion-item-divider *ngIf="menu.name">{{menu.name}}</ion-item-divider>
      <ion-item class="dishItem" *ngFor="let dish of menu.dishes">
        {{dish.name}}<span item-end>{{dish.price}}</span>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>