<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <img style="height: 80px;width: 80px;margin: auto;
        display: block;margin-top: 10px;margin-bottom: 10px;" src="../assets/logo_size_icon_small.jpg">
        <ion-toolbar>
          <ion-title>LunchKeeper</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
