<ion-header>
  <ion-toolbar>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input [(ngModel)]="searchText" placeholder="Search query" item-right type="text"></ion-input>
    <button ion-button item-left (click)="onSearch($event)" >Go</button>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let cr of results">
      <ion-checkbox [(ngModel)]="cr.isSelected" (ionChange)="subscribe(cr)" ></ion-checkbox>
      <div>{{cr.name}}</div>
    </ion-item>
  </ion-list>
</ion-content>